$Campaign-Behavior-1       : rgba(21, 35, 45, 1); 		// #15232D
$Campaign-Behavior-2       : rgba(22, 75, 68, 1); 		// #164B44
$Campaign-Behavior-3       : rgba(204, 140, 26, 1); 	// #CC8C1A
$Campaign-Behavior-4       : rgba(226, 198, 95, 1); 	// #E2C65F
$Campaign-Behavior-5       : rgba(188, 165, 35, 1); 	// #BCA523

$rich-black                : rgba(10, 16, 21, 1); 		// #0A1015
$gunmetal                  : rgba(22, 35, 46, 1); 		// #16232E
$midnight-green            : rgba(22, 56, 58, 1); 		// #16383A
$brunswick-green           : rgba(22, 76, 69, 1); 		// #164C45
$harvest-gold              : rgba(204, 141, 26, 1); 	// #CC8D1A
$arylide-yellow            : rgba(227, 199, 95, 1); 	// #E3C75F
$nyanza                    : rgba(213, 236, 212, 1); 	// #D5ECD4

$bright-pink-crayola       : rgba(239, 71, 111, 1); 	// #EF476F
$coral                     : rgba(247, 140, 107, 1); 	// #F78C6B
$sunglow                   : rgba(255, 209, 102, 1); 	// #FFD166
$mantis                    : rgba(131, 212, 131, 1); 	// #83D483
$emerald                   : rgba(6, 214, 160, 1); 		// #06D6A0
$light-sea-green           : rgba(12, 176, 169, 1); 	// #0CB0A9
$blue-ncs                  : rgba(17, 138, 178, 1); 	// #118AB2
$cerulean                  : rgba(15, 119, 153, 1); 	// #0F7799
$cerulean-2                : rgba(12, 99, 127, 1); 		// #0C637F
$midnight-green            : rgba(7, 59, 76, 1); 		// #073B4C

$primary-color             : rgb(0, 15, 24); 			// #000F18
$secondary-color           : rgba(170, 208, 253, 1); 	// #AAD0FD
$third-color               : rgba(169, 193, 200, 1); 	// #A9C1C8
$fourth-color              : rgba(213, 231, 255, 1); 	// #D5E7FF
$fifth-color               : rgba(242, 242, 242, 1); 	// #F2F2F2

$primary-opacity-color     : rgba(25, 39, 47, 1); 		// #19272F
$green-color               : rgba(50, 205, 50, 1); 		// #32CD32
$yellow-color              : rgba(255, 165, 0, 1); 		// #FFA500
$cyan-color                : rgba(30, 144, 255, 1); 	// #1E90FF
$red-color                 : rgb(215, 40, 40); 			// #D72828
$gold-color                : rgb(246, 202, 56); 		// #F6CA38
$silver-color              : rgb(147, 146, 146); 		// #939292
$bronze-color              : rgb(199, 114, 81); 		// #C77251


$light-color               : rgb(255, 255, 255);
$no-color                  : rgb(0, 0, 0, 0);

$normal-color              : rgba(red($primary-color), green($primary-color), blue($primary-color), 0.2);
$primary-low-opacity-color : rgba(red($primary-color), green($primary-color), blue($primary-color), 0.7);

$op                        : 0.7;
$win                       : rgba(red($green-color), green($green-color), blue($green-color), $op);
$lose                      : rgba(red($red-color), green($red-color), blue($red-color), $op);
$draw                      : rgba(red($silver-color), green($silver-color), blue($silver-color), $op);


//---------------------- Timeline ----------------------

// -- DARK BG --
// $color-1 : $light-color; // $color-1 // componenti
// $color-2 : $primary-opacity-color; // #f7f7f7		// sfondo pallino
// $color-3 : $fourth-color; // #232323
// $color-4 : $primary-color; // testo
// $color-5 : $secondary-color; // Sfondo Cerchio
// $color-6 : $secondary-color; // testo 2
// -- LIGHT BG --
$color-1 : $primary-color; // $color-1 // componenti
$color-2 : $light-color; // #f7f7f7		// sfondo pallino
$color-3 : $primary-opacity-color; // #232323
$color-4 : $primary-opacity-color; // testo
$color-5 : $secondary-color; // Sfondo Cerchio
$color-6 : $primary-opacity-color; // testo 2
